body {
  background-color: #f9ebd1;
  margin: 0;
  align-content: center;
  text-align: center;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
header {
  background-color: #000;
    text-align: left;

}
header img {
  padding: 20px;
  display: inline;
}
header ul{
    display: inline;
}
header ul li {
  display: inline;
  list-style-type: none;
  align-items: flex-end;
  margin: 0;
}
header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

.content {
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #58656e;
}
